button.small-button {
    font-size: x-small;
    padding: 0;
    min-height: 0;
    min-width: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
}

button.left-menu {
    background-color: transparent;
    border: 0;
}

button.left-menu:hover {
    background-color: lightgray;
}