/* Кнопка закриття вкладки блокноту */
/*
button.notebook-page-close {
    font-size: x-small;
    padding: 0;
    min-height: 0;
    min-width: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
}

button.notebook-page-close:hover {
    background-color: lightgray;
}
*/

notebook tab {
    padding: 5px 5px;
}

notebook tab button {
    font-size: x-small;
    padding: 0;
    margin-left: 10px;
    min-height: 0;
    min-width: 0;
    border-radius: 3px;
    background-color: transparent;
}

notebook tab button:hover {
    background-color: lightgray;
}

/* Ліве меню головного вікна */
button.left-menu {
    background-color: transparent;
}

button.left-menu:hover {
    background-color: lightgray;
}