/* Global variable */
:root {
    /*Колір таблиці для columnview*/
    --columnview-border-color: #c7c7c7;
}

/* Кнопки лівого меню */
button.left-menu {
    padding-left: 2px;
    padding-right: 2px;
}

button.left-menu:hover {
    background-color: rgba(219, 219, 195, 0.541);
}

/* Вкладки блокноту */
notebook tab {
    padding: 3px;
    border: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/* Кнопка закриття вкладки блокноту */
notebook tab button {
    font-size: x-small;
    padding: 1px;
    margin-left: 12px;
    min-height: 0;
    min-width: 0;
    border-radius: 6px;
}

columnview {
    border: 1px solid shade(var(--columnview-border-color), 1.2);
}

columnview header button {
    padding: 2px 6px;
    border-left: 1px solid shade(var(--columnview-border-color), 1.2);
    border-bottom: 1px solid shade(var(--columnview-border-color), 1.2);
}

columnview header button:first-child {
    border-left: 0;
}

columnview listview row cell {
    padding: 2px 6px;
}

columnview listview row cell:not(:first-child) {
    border-left: 1px solid shade(var(--columnview-border-color), 1.2);
}

columnview listview row cell .numeric{
    color: green;
}

/*Для Log*/
textview.log_text_terminal {
    font: 11px Arial;
}

/*
columnview listview row:nth-child(odd) {
   background-color: shade(var(--columnview-border-color), 1.2);
}

columnview listview row:nth-child(even) {
      background-color: #f6f6f6;  
}
*/

/*-------------------------------------------------------------------*/


/* Кнопка закриття вкладки блокноту */
/*notebook tab button {
    font-size: x-small;
    padding: 2px 1px 2px 1px;
    margin-left: 10px;
    min-height: 0;
    min-width: 0;
    border: 0;
    border-radius: 3px;
    background-color: transparent;
}*/


/*notebook tab button:hover {
    background-color: lightgray;
}*/

/* Ліве меню головного вікна */
/*
button.left-menu {
    border: 0;
    background-color: transparent;
}
*/