/* Вкладки блокноту */
notebook tab {
    padding: 5px 5px;
}

/* Кнопка закриття вкладки блокноту */
notebook tab button {
    font-size: x-small;
    padding: 4px 1px 4px 1px;
    margin-left: 10px;
    min-height: 0;
    min-width: 0;
    border: 0;
    border-radius: 3px;
    background-color: transparent;
}

notebook tab button:hover {
    background-color: lightgray;
}

/* Ліве меню головного вікна */
/*
button.left-menu {
    border: 0;
    background-color: transparent;
}
*/
button.left-menu:hover {
    background-color: rgba(228, 235, 235, 0.541);
}